<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<h1>Vítejte na mém blogu</h1>
<div>Níže najdete seznam mých příspěvků z imaginárního cestování uskutečněného v květnu 2021, které proběhlo
    díky covidu jen v mých představách ...
</div>
<div th:each="posty : ${posty}">
    <div>
        <h2 th:utext="${posty.title}">Nadpis článku</h2>
    </div>
    <div>
        <div th:utext="${posty.author}">Author článku</div>
        <div th:utext="${posty.perex}">První odstavec</div>
        <div th:utext="${posty.body}">Zbytek textu</div>
        <div th:utext="${posty.published}">Datum publikování</div>
    </div>
    <div>
        <a href="post/prispevek-1" th:href="@{/post/{slug}(slug=${posty.slug})}" class="button">Přečíst</a>
    </div>
</div>
</body>
</html>
